* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #fafafa;
  --color-background: #fafcff;
  --color-rating: #ffcd4e;
  --color-bg-reg-form: #f7f7f7;
  --color-text: #461480;
  --color-red: #fc5b5b;
  --color-text-dull: #8a95ad;
  --color-black: #2e2e2e;
  --color-white: #fff;
  --color-gray: #6c6c6c;
  --color-light-gray: #b4b4b4;
  --transition: all 500ms ease;
  --box-shadow: 0 0.1rem 0.5rem rgba(219, 69, 69, 0.4);
  --border-sty: 1px solid #ebebeb;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-bg);
}

.width {
  width: 85%;
  padding: 0px 30px;
}

input {
  background-color: var(--color-bg-input);
  font-size: 16px;
}
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
input::placeholder {
  font-size: 14px;
  color: var(--color-light-gray);
}
.background {
  background-color: var(--color-bg);
}

.box_shadow {
  box-shadow: 0 0.1rem 2rem rgba(30, 30, 30, 0.1);
}

.fa-star {
  color: var(--color-rating);
}
a {
  color: var(--color-black);
}
.d_flex {
  display: flex;
}
.w_flex {
  display: flex;
  flex-wrap: wrap;
}
.a_flex {
  display: flex;
  align-items: center;
}
.f_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.s_flex {
  display: flex;
  justify-content: center;
}
.g_flex {
  display: flex;
  justify-content: space-between;
}
.p_flex {
  display: flex;
  justify-content: space-around;
}
.d_grid {
  display: grid;
  grid-template-columns: 239px 85%;
}

.header h2 {
  font-weight: 500;
  color: var(--color-gray);
}

/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: -30%;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  transform: 0.5s;
  z-index: 5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.control-btn button {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  right: 0;
}
.control-btn .prev {
  right: 50px;
}

.control-btn .icon {
  font-size: 20px;
}

.control-btn .prev:hover,
.control-btn .next:hover {
  transition: var(--transition);
  background: var(--color-text);
  color: var(--color-white);
  cursor: pointer;
}
/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 445px) {
  .control-btn {
    display: none;
  }
}
